<header>
    <nav>
        <ul>
            {% for item in site.data.navigation %}
            <li>
                <a href="{{ item.link }}" {% if page.url==item.link %}class="current" {% endif %}><strong>[ {{ item.name }} ]</strong></a>
            </li>
            {% endfor %}
            <li style="padding-top: 4px">
                <a href="https://techforpalestine.org/learn-more" rel="nofollow"><img src="https://raw.githubusercontent.com/Safouene1/support-palestine-banner/master/StandWithPalestine.svg" alt="StandWithPalestine" style="max-width: 100%;"></a>
            </li>
        </ul>
    </nav>
</header>
