/* This is style inspired from chrisdown.name & suckless.org. */
html, body {
  max-width: 720px;
  margin: 1em auto;
  padding: 0 0.7em;
  font-family: sans-serif;
  font-size: 1em;
  background-color: white; }

header {
  margin-bottom: 1em;
  font-size: 1em; }
  header :after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  header nav ul {
    margin: 0;
    padding: 0; }
    header nav ul li {
      float: left;
      list-style-type: none;
      padding: 0 16px 0 0; }

h1 {
  margin: 1em 1ex 0.5ex 0;
  font-size: 1.4em; }

h2 {
  margin: 1em 1ex 0.5ex 0;
  font-size: 1.3em; }

h3 {
  margin: 1em 1ex 0.5ex 0;
  font-size: 1.0em; }

h4 {
  margin: 1em 1ex 0.5ex 0;
  font-size: 0.9em; }

a {
  color: #005386;
  text-decoration: none; }
  a :hover {
    background-color: #eee; }

article {
  margin-bottom: 1.7em; }

footer {
  border-top: 2px solid #dddddd;
  text-align: right;
  color: #666666;
  font-size: 90%; }

small {
  color: #666666; }

.current {
  font-weight: bold;
  color: #069; }

.love {
  color: #ec2e2e; }
